@import "src/styles/colors";

.container {
  width: 48%;
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  justify-content: flex-start;
  border-radius: 0.5em;
  background-color: $secondaryColor;

  .subContainer {
    margin: 0.5em;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}