@import '../../styles/colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primaryColor;
  border-bottom: 1px solid $primaryColor;
  margin: 2em;
  padding-bottom: 1em;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
  }

  .requestLogo {
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      margin-bottom: 1em;
    }

    .logo {
      width: 25%;
      height: 25%;
      @media screen and (max-width: 600px) {
        width: 30%;
        height: 30%;
      }
    }

    .titleText {
      font-size: 2.5em;
      line-height: 1em;
    }
  }


  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  p {
    margin: 0;
  }
}
